<!-- app/templates/app/meals_list.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Meal Details</title>
  </head>
  <body>
    <h1>Meal Details</h1>
    <p>Name: {{ meal.Name }}</p>
    <p>Description: {{ meal.Description }}</p>
    <p>Type: {{ meal.Type }}</p>
    <p>Autumn: {{ meal.Autumn }}</p>
    <p>Winter: {{ meal.Winter }}</p>
    <p>Spring: {{ meal.Spring }}</p>
    <p>Summer: {{ meal.Summer }}</p>
    <p>Dish 1: {{ meal.Dish_1.Description }}</p>
    <p>Dish 2: {{ meal.Dish_2.Description }}</p>
    <p>Dish 3: {{ meal.Dish_3.Description }}</p>
    <p>Dish 4: {{ meal.Dish_4.Description }}</p>
    <p>Dish 5: {{ meal.Dish_5.Description }}</p>
    <p>Dish 6: {{ meal.Dish_6.Description }}</p>
    <p>Dish 7: {{ meal.Dish_7.Description }}</p>
    <p>Dish 8: {{ meal.Dish_8.Description }}</p>
  </body>
</html>
